<div class="main-master" id="masterPage">
	<form>
	    <div class="form-group">
	      <div class="input-group">
	        <div class="input-group-addon"><i class="fa fa-search"></i></div>
	        <input type="text" name="search" class="form-control" placeholder="Search Name" [(ngModel)]="queryString">
	      </div>      
	    </div>
	</form>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>Frist Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Address</td>
        <td>Image</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let studs of stud | SearchPipe:queryString">
        <td>{{ studs.fname }}</td>
        <td>{{ studs.lName }}</td>
		    <td>{{ studs.age }}</td>
        <td>{{ studs.gender }}</td>
        <td>{{ studs.address }}</td>        
        <td><img [src]="studs.studImage" height="50" width="50"/></td>
      </tr>
    </tbody>
  </table>
</div>